<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-8 col-xl-4" style="margin-top: 50px;">
          <img [src]="ulogin" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="loginForm"(ngSubmit)="onSubmit()">
            <div clas s="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3 align-items-center">Sign in with</p>
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                  <i class="fab fa-instagram"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
            </div>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-4 mb-0">Or</p>
            </div>
            <div class="form-outline mb-4">
              <label class="email" style="font-size: 18px;" for="email">Email address</label>
              <input type="email" id="email" class="form-control form-control-lg" placeholder="Enter a valid email address" formControlName ="emailAddress"ngModel=""/>
              <div>
                <span style="color: red;" *ngIf="!loginForm.get
                ('emailAddress').valid && loginForm.get('emailAddress').touched">Please Enter the Valid Email</span>
            </div>
            </div>
            <div class="form-outline mb-3">
              <label class="form-label" for="password" style="font-size: 18px;">Password</label>
              <input type="password" id="password" class="form-control form-control-lg" placeholder="Enter password"formControlName ="password"ngModel=""/>
              <div>
                <span style="color: red;" *ngIf="!loginForm.get
                ('password').valid && loginForm.get('password').touched">Please Enter Pass Min 8 characters</span>
            </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                  <input class="form-check-input me-2" type="checkbox" value="" id="checkbox" />
                    <label class="form-check-label" for="checkbox">Remember me</label>

                    <a href="#!" class="text-body" style="margin-left: 50px;">Forgot password?</a>
              </div>
              
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" [disabled]="loginForm.invalid" class="btn1 btn-secondary btn-lg" style="width: 120px; height: 50px; border-radius: 30px;border: none;background-color:#96bb7c;color: white;"
              (click)="navigateToShowUserData()">Login</button>
            </div>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a class="link-danger" style="cursor: pointer;" (click)="navigateToRegister()">Register</a></p>
        </form>
      </div>
      </div>
    </div>
</section>