<div class="main">
    <h2 class="title">Contact Me</h2>
    <div class="container">
        <div class="contact-form row">
            <div class="form-field col-lg-4">
                <input id="name" class="input-text" type="text" name="">
                <label for="name" class="label">Name</label>
            </div>
            <div class="form-field col-lg-4">
                <input id="email" class="input-text" type="text" name="">
                <label for="email" class="label">Email</label>
            </div>
            <div class="form-field col-lg-4">
                <input id="contact" class="input-text" type="text" name="">
                <label for="contact" class="label">Contact No.</label>
            </div>
            <div class="form-field col-lg-12">
                <input id="message" class="input-text" type="text" name="">
                <label for="message" class="label">Message</label>
            </div>
            <div class="form-field col-lg-9">
                <h5 class=" mb-4 font-weight-bold  text-start">Contact</h5>
                <p class="align-items-center  text-start" style="text-decoration:none; color: #777;">Virtual Coworks Mangal City Vijay Nagar Indore 452010</p>
                <p class=" text-start"><a href="" style="text-decoration:none; color:#777;">(+91) 83056-83056</a></p>
                <p class=" text-start"><a href="" style="text-decoration:none; color:#777;">(+91) 90395-90395</a></p>
                <p class=" text-start"><a href="" style="text-decoration:none; color:#777;">info@codoxysolution.com</a></p>
            </div>
            <div class="form-field col-lg-2">
                <input class="submit-btn" type="submit" value="submit" name="">
            </div>

           
        </div>

        

    </div>
</div>