/* img{
    width: 100%;
    height: 40%;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-self: center;
    background-size: 100% 30%;

} */