<div class="container">
    <h2 class="header">Services</h2>

    <div class="modalbox">
        <div class="main">
            <div class="card">
                <h2 style="margin-top: 50px;">Development</h2>
                <p style="margin-top: 50px; padding: 10px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
            <div class="card">
                <h2 style="margin-top: 50px;">Design</h2>
                <p style="margin-top: 50px; padding: 10px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
            <div class="card">
                <h2 style="margin-top: 50px;">e-Commerce</h2>
                <p style="margin-top: 50px;  padding: 10px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
            
        </div>
    
    </div>
</div>

