<section class="bg-light">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                [src]="usignup"
                    alt="Sample photo"
                    class="img-fluid"
                    style="
                    border-top-left-radius: 0.25rem;
                    border-bottom-left-radius: 0.25rem;"/>
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-center">Registration Form</h3>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)" >
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="fname">First Name</label>
                                <input
                                type="text"
                                id="fname"
                                class="form-control form-control-lg"
                                placeholder="Enter First Name"
                                formControlName="firstName" ngModel=""/>
                                <div class="text-danger">
                                    <span style="color: red;" *ngIf="!signUpForm.get('firstName').valid && signUpForm.get('firstName').touched">Please Enter First Name
                                    </span>
                                    <!-- <span style="color: red;"*ngIf="signUpForm.get('signUpForm.firstName').errors?.['noSpaceAllowed'] && signUpForm.get('firstName').touched">
                                        Space Not Allowed 
                                    </span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="lname">Last Name</label>
                                <input
                                type="text"
                                id="lname"
                                class="form-control form-control-lg"
                                placeholder="Enter Last Name"
                                formControlName="lastName" ngModel=""/>
                                <div>
                                    <span style="color: red;" *ngIf="!signUpForm.get
                                        ('lastName').valid && signUpForm.get('lastName').touched">Please Enter Last Name
                                    </span>
                                    <!-- <span style="color: red;"*ngIf="signUpForm.get('signUpForm.lastName').errors?.['noSpaceAllowed']">
                                        Space Not Allowed 
                                    </span> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="date">Select Date Of Birth
                                </label>
                                <input
                                class="form-control form-control-lg"
                                id="date"
                                formControlName="dob" ngModel="" 
                                type="date" min="1980-01-01" max="2012-12-31" style="width: 216px; height: 50px"/>
                                <div>
                                    <span style="color: red;" *ngIf="!signUpForm.get
                                    ('dob').valid && signUpForm.get('dob').touched">Please Select Date Of Birth</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="contact">Enter Your Contact
                                </label>
                                <input
                                type="text"
                                class="form-control form-control-lg"
                                formControlName="mobile" ngModel=""
                                placeholder="Enter Mobile No."/>
                                <div>
                                    <span style="color: red;" *ngIf="!signUpForm.get
                                    ('mobile').valid && signUpForm.get('mobile').touched">Please Enter 10 digit Mobile.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label">Enter Your Email</label>
                            <input
                            type="text"
                            class="form-control form-control-lg"
                            formControlName="emailAddress" ngModel=""
                            placeholder="Enter Email" />
                            <div>
                                <span style="color: red;" *ngIf="!signUpForm.get
                                ('emailAddress').valid && signUpForm.get('emailAddress').touched">Please Enter the Valid Email</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="email">Enter Password</label>
                            <input
                            type="password"
                            class="form-control form-control-lg"
                            formControlName="password" ngModel=""
                            placeholder="Enter Password"/>
                            <div>
                                <span style="color: red;" *ngIf="!signUpForm.get
                                ('password').valid && signUpForm.get('password').touched">Please Enter Pass Min 8 characters</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2" aria-required="true">
                    <h6 class="mb-0 me-4">Gender:</h6>
                    <div class="form-check form-check-inline mb-0 me-4">
                        <input
                            class="form-check-input"
                            type="radio"
                            id="female"
                            formControlName="gender" ngModel=""
                            value="female"/>
                            
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                    <div class="form-check form-check-inline mb-0 me-4">
                        <input
                            class="form-check-input"
                            type="radio"
                            id="male"
                            formControlName="gender" ngModel=""
                            value="male"/>
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline mb-0">
                        <input
                        class="form-check-input"
                        type="radio"
                        formControlName="gender" ngModel=""
                        id="otherGender"
                        value="other"/>
                        <label class="form-check-label" for="other">Other</label>
                    </div>
                    <div>
                        <span style="color: red;" *ngIf="!signUpForm.get
                        ('gender').valid && signUpForm.get('gender').touched">Select Gender</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="address">Address</label>
                            <input
                            type="text"
                            class="form-control form-control-lg"
                            formControlName="address" ngModel=""
                            placeholder="Enter Present Address"/>
                            <div>
                                <span style="color: red;" *ngIf="!signUpForm.get
                                ('address').valid && signUpForm.get('address').touched">Please Enter Address</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="pincode">Pincode</label>
                            <input
                            type="text"
                            class="form-control form-control-lg"
                            formControlName="pincode" ngModel=""
                            placeholder="Enter Pin Code"/>
                            <div>
                                <span style="color: red;" *ngIf="!signUpForm.get
                                ('pincode').valid && signUpForm.get('pincode').touched">Please Enter 6 digit Pincode</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="">Select State</label>
                        <select
                            class="select"
                            style="width: 215px; height: 50px; border-radius: 10px"
                            formControlName="state" ngModel="">
                            <option value="">Select State</option>
                            <option value="bihar">Bihar</option>
                            <option value="madhya_pradesh">Madhya Pradesh</option>
                            <option value="uttar_pradesh">Uttar Pradesh</option>
                        </select>
                        <div>
                            <span style="color: red;" *ngIf="!signUpForm.get
                            ('state').valid && signUpForm.get('state').touched">Please Select State</span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="">Select City</label>
                        <select
                        class="select"
                        formControlName="city" ngModel=""
                        style="width: 215px; height: 50px; border-radius: 10px">
                        <option value="">Select City</option>
                        <option value="patna">Patna</option>
                        <option value="madhubani" >Madhubani</option>
                        <option value="gaya" >Gaya</option>
                        <option value="bhagalpur" >Bhagalpur</option>
                        <option value="indore">Indore</option>
                        <option value="bhopal" > Bhopal</option>
                        <option value="gwalior" >Gwalior</option>
                        <option value="rewa">Rewa</option>
                        <option value="lucknow">Lucknow</option>
                        <option value="allahabad">Allahabad</option>
                        <option value="jhansi">Jhansi</option>
                        <option value="kanpur">Kanpur</option>
                        </select>
                        <div>
                            <span style="color: red;" *ngIf="!signUpForm.get
                            ('city').valid && signUpForm.get('city').touched">Please Select City</span>
                        </div>
                    </div>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit"[disabled]="signUpForm.invalid" class="btn btn-secondary btn-lg" onclick="" 
                    style="width: 120px; height: 50px; border-radius: 30px; border: none;
                    background-color: #96bb7c;">Submit
                    </button>
                    <p *ngIf="isSubmit" class="submitMessage" style="color: green; font-weight: bold;">{{submitMessage}}</p>
                </div>
                <p class="small fw-bold mt-2 pt-1 mb-0">
                    If you have already registered?<a
                      class="link-danger"
                      style="cursor: pointer"
                      (click)="navigateToLogin()">Login</a>
                </p>
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
