<nav class="navbar navbar-expand navbar-dark bg-dark px-2" (scroll)="onscroll()" [ngClass]="navbarfixed?'fexed':'nofixed'">
    <div class="side-nav-button p-2 me-3 text-light">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="container-fluid">
        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
            basicNavbar="mdbCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link active" aria-current="page" routerLink="Home">Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link active" aria-current="page" [routerLink]="'About'">About</a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link active" [routerLink]="['Contact']">Contact</a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link active" routerLink="Portfolio">Portfolio</a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link active" routerLink="Services">Services</a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link active" routerLink="#">Resume</a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link active" routerLink="#">Blog</a>
                </li>
            </ul>
            <div ngbDropdown class="dropdown">
                <button
                    class="btn btn-dark dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false" ngbDropdownToggle>User
                </button>
                <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-dark" routerLinkActive="active">
                    <li><a class="dropdown-item" routerLink="Login">Login</a></li>
                    <li><a class="dropdown-item" routerLink="SingUp">Sign Up</a></li>
                </ul>
            </div>
            <form class="d-flex input-group w-auto">
                <input type="search" class="form-control" placeholder="Search.." />
                <button class="btn btn-outline-light" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>

<div>
   
</div>
