<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="container-fluid">
        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
            basicNavbar="mdbCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Contact</a>
                </li>
            </ul>
            <div ngbDropdown class="dropdown">
                <button
                    class="btn btn-dark dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false" ngbDropdownToggle>User
                </button>
                <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-dark" >
                    <li><a class="dropdown-item" href="#">Login</a></li>
                    <li><a class="dropdown-item" href="#">Sign Up</a></li>
                </ul>
            </div>
            <form class="d-flex input-group w-auto">
                <input type="search" class="form-control" placeholder="Search.." />
                <button class="btn btn-outline-light" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>

<div>
    <app-footer></app-footer>
</div>
