.navbar{
    /* margin-top: 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px; */
}
.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.side-nav-button:hover{
    background-color: rgb(85, 83, 83);
    border-radius: 30%;
}
.fixed{
    position: fixed;
    width: 90%;
    transition: 0.2s linear;
    top:0px;

}
.nofixed{
    position: sticky;
    transition: 0.2s linear;
    top: -5px;
}