<div class="container-fluid">
    <h2 class="" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">My Portfolio</h2>

    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
          <ul class="header">
            <li><a class="navbar-brand" href="#">All</a></li>
            <li><a class="navbar-brand" href="#">Packaging</a></li>
            <li><a class="navbar-brand" href="#">Mockup</a></li>
            <li><a class="navbar-brand" href="#">Photography</a></li>
          </ul>
        </div>
    </nav>
    <div class="wrapper">
        <div class="con">
          <div class="hero-section">
            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image1.jpg">
              </div>
              <div class="caption">
                <h3>One box Food</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image2.jpg">
              </div>
              <div class="caption">
                <h3>Two box Food</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image3.jpg">
              </div>
              <div class="caption">
                <h3>Three box Food</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image4.jpg">
              </div>
              <div class="caption">
                <h3>Four box Nature</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image5.jpg">
              </div>
              <div class="caption">
                <h3>Five box Nature</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image12.jpg">
              </div>
              <div class="caption">
                <h3>Six box Food</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image7.jpg">
              </div>
              <div class="caption">
                <h3>Seven box Nature</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image8.jpg">
              </div>
              <div class="caption">
                <h3>Eight box Namaste</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image10.jpg">
              </div>
              <div class="caption">
                <h3>Ten box Passport</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>


            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image9.jpg">
              </div>
              <div class="caption">
                <h3>Nine box Computer</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            
            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image11.jpg">
              </div>
              <div class="caption">
                <h3>Eleven box House</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image12.jpg">
              </div>
              <div class="caption">
                <h3>Twelve box Map</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image13.jpg">
              </div>
              <div class="caption">
                <h3>Thirteen box Car</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image14.jpg">
              </div>
              <div class="caption">
                <h3>Forteen box Nature</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

            <div class="gallery">
              <div class="image-section">
                <img src="assets/images/image15.jpg">
              </div>
              <div class="caption">
                <h3>Fifteen box House</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>

          </div>
        </div>
    </div>
</div>

          
          
          