<div class="container-fluid">
    <h2 class="" style="text-align: center; margin-top: 150px; margin-bottom: 50px;">My Portfolio</h2>

    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
          <ul class="header">
            <li><a class="navbar-brand" href="#">All</a></li>
            <li><a class="navbar-brand" href="#">Packaging</a></li>
            <li><a class="navbar-brand" href="#">Mockup</a></li>
            <li><a class="navbar-brand" href="#">Photography</a></li>
          </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <a href=""><img src="assets/images/image1.jpg"></a>
            <a href=""><img src="assets/images/image2.jpg"></a>
            <a href=""><img src="assets/images/image3.jpg"></a>
            <a href=""><img src="assets/images/image4.jpg"></a>
            <a href=""><img src="assets/images/image9.jpg" ></a>
            
        </div>
    </div>

</div>

          
          
          