<footer class=" text-black pt-5 pb-4 w-100" >
    <div class="container text-center text-md-left">
        <div class="row text-center">
            <div class="col-md-3 col-lg-3 col-lx-3 mx-auto w-40 mt-3">
                <h5 class=" mb-4 font-weight-bold text-start text-black">About Company</h5>
                    <p class="align-items-center text-start">
                    Based in Central India, Codoxy Solutions has expertise in providing Web Application, Mobile Application, ERP and E-Commerce Services.
                    </p>
                
                <h5 class=" mb-4 font-weight-bold text-start text-black">Connect</h5>
                    <div class="d-flex gap-3" >
                        <a href=""><i class="fab fa-instagram mr-3 " style="border-radius: 40%; background-color:#c2c3c4"></i></a>
                        <a href=""><i class="fab fa-twitter mr-3" style="border-radius: 40%; background-color:#c2c3c4"></i></a>
                        <a href=""><i class="fab fa-facebook mr-3" style="border-radius: 40%; background-color:#c2c3c4"></i></a>
                        <a href=""><i class="fab fa-linkedin mr-3" style="border-radius: 40%; background-color:#c2c3c4"></i></a>
                        <a href=""><i class="fab fa-pinterest mr-3" style="border-radius: 40%; background-color:#c2c3c4"></i></a>
                        <a href=""><i class="fab fa-google mr-3"></i></a>
                    </div>
            </div>
            <div class="col-md-2 col-lg-2 col-lx-2 mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-black text-start">Navigation</h5>
                <p class="text-black text-start" style="text-decoration:none"><a href="">HTML5</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">CSS3</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">Angular</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">Javascript</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">Bootstrap</a></p>
                    
            </div>
            <div class="col-md-3 col-lg-2 col-lx-2  mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-black text-start">Services</h5>
                <p class="text-black text-start" style="text-decoration:none"><a href="">Web Design</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">eCommerce</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">WordPress</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">Frontend</a></p>
            </div>
            <div class="col-md-3 col-lg-2 col-lx-2  mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-black text-start">Contact</h5>
                <p class="align-items-center text-black text-start" style="text-decoration:none">Virtual Coworks Mangal City Vijay Nagar Indore 452010</p>
                <p class="text-black text-start" style="text-decoration:none "><a href="">(+91) 830568-830568</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">(+91) 830568-830568</a></p>
                <p class="text-black text-start" style="text-decoration:none"><a href="">info@codoxysolution.com</a></p>
            </div>
         
                <h6 class="pt-5 text-black">Copyright @2023 All rights reserved | This template is made for Codoxy</h6>
        </div>
    </div>
</footer>
