<footer class=" text-black pt-5 pb-4 w-100 " style="background-color: #efefef; margin-top: 100px;">
    <div class="container text-center text-md-left">
        <div class="row text-center">
            <div class="col-md-3 col-lg-4 col-lx-3 mx-auto w-40 mt-3">
                <h5 class=" mb-4 font-weight-bold text-start text-black">About Company</h5>
                    <p class="align-items-center text-start" style="text-decoration:none; color:#777;">
                    Based in Central India, Codoxy Solutions has expertise in providing Web Application, Mobile Application, ERP and E-Commerce Services.
                    </p>
                
                <h5 class=" mb-4 font-weight-bold text-start text-black">Connect</h5>
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
          
                      <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
          
                      <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-linkedin-in"></i>
                      </button>
                      <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-instagram"></i>
                      </button>
                      <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>

                    </div>
            </div>
            <div class="col-md-2 col-lg-2 col-lx-2 mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-black text-start">Navigation</h5>
                <p class=" text-start" ><a href="" style="text-decoration:none; color: #777;">HTML5</a></p>
                <p class=" text-start" ><a href="" style="text-decoration:none; color:#777;">CSS3</a></p>
                <p class=" text-start" ><a href="" style="text-decoration:none; color:#777;">Angular</a></p>
                <p class=" text-start"><a href="" style="text-decoration:none; color:#777;">Javascript</a></p>
                <p class=" text-start" ><a href="" style="text-decoration:none; color:#777;">Bootstrap</a></p>
                    
            </div>
            <div class="col-md-3 col-lg-2 col-lx-2  mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold  text-start">Services</h5>
                <p class=" text-start" ><a href="" style="text-decoration:none; color:#777;">Web Design</a></p>
                <p class=" text-start" ><a href="" style="text-decoration:none; color:#777;">eCommerce</a></p>
                <p class=" text-start" ><a href="" style="text-decoration:none; color:#777;">WordPress</a></p>
                <p class=" text-start" ><a href="" style="text-decoration:none; color:#777;">Frontend</a></p>
            </div>
            <div class="col-md-3 col-lg-2 col-lx-2  mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold  text-start">Contact</h5>
                <p class="align-items-center  text-start" style="text-decoration:none; color: #777;">Virtual Coworks Mangal City Vijay Nagar Indore 452010</p>
                <p class=" text-start"><a href="" style="text-decoration:none; color:#777;">(+91) 830568-830568</a></p>
                <p class=" text-start"><a href="" style="text-decoration:none; color:#777;">(+91) 830568-830568</a></p>
                <p class=" text-start"><a href="" style="text-decoration:none; color:#777;">info@codoxysolution.com</a></p>
            </div>
                <div class="foottext">
                    <h6 class="pt-5 " style="text-decoration:none; color:#777;">Copyright @2023 All rights reserved |&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-heart" style="color: red;"></i> &nbsp;&nbsp;&nbsp;<a href="https://codoxysolutions.com/" style="text-decoration:none; color:#96bb7c;">Codoxy</a></h6>
                </div>
        </div>
    </div>
</footer>
